{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container ">
        Test de l'application.
        <a href="#" class="btn btn-success">test boostrap</a>
    </div>

{% endblock %}
