{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
            On n'aura ici :<br>
                - navbar<br>
                - la sidebar(avec les liens)<br>
                - les elements de chartjs.....<br>
                - les graphiques....<br>
        <a href="https://trello.com/b/olVBlUSa/gestion-de-tickets-avec-symfony">Lien vers le trello</a>
<br>
        <a href="{{ path('app_logout') }}">Se déconnecter pour le test de login</a>


    </div>

{% endblock %}
